.header{
	display: flex;
	justify-content: center;
}

.link{
	margin: 0 15px;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
}

.dark{
	background-color: #000;
	color: #FFF;
}